body {
    margin: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header,
footer {
    background-color: black;
    text-align: right;
}
header input[type=button],
footer input[type=button] {
    background-color: black;
    border: none;
    color: white;
    padding: 15px;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}
header input[type=button]:hover,
footer input[type=button]:hover {
    background-color: rgb(51, 51, 51);
}
header a,
footer a {
    text-decoration: none;
}
#mattalx_logo {
    display: block;
    margin: auto;
    width: 45%;
    height: auto;
}
p {
    margin: 2% 15%;
}
h1, h2, h3, ul, li {
    margin: 2% 11%;
}
p, li{
    font-size: 18px;
}
.slideshow {
    position: relative;
    margin: auto;
}
.slideshow .img-slide {
    display: none;
    margin: auto;
    width: 50%;
    height: auto;
    border-radius: 5px;
}
#previous,
#next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.5s ease;
    border-radius: 4px;
    user-select: none;
}
#previous {
    left: 7%;
}
#next {
    right: 7%;
}
#previous:hover, 
#next:hover {
    background-color: rgba(0,0,0,0.4);
}
.grey_box {
    margin: 2% 10%;
    background-color: lightgrey;
    padding: 7px;
    border-radius: 7px;
}
#exemples li {
    text-align: center;
    list-style: none;
}
#pics_block {
    display: flex;
    text-align: center;
}
#pics_block::after {
    clear: both;
}
#pics_block h3 {
    font-size: 20px;
}
#pics_block .cols {
    flex: 50%;
    padding: 10px;
}
#pics_block #before_twitter,
#pics_block #after_twitter {
    width: 70%;
    height: auto;
}
#pics_block #messenger_chat {
    width: 100%;
}
#pics_block #chromelogo,
#pics_block #firefoxlogo {
    width: 20%;
    padding: 20px;
}
#chromelogo,
#firefoxlogo {
    opacity: 85%;
}
#chromelogo:hover,
#firefoxlogo:hover {
    opacity: 100%;
}
#pics_block #availableText {
    padding: 15px;
    font-size: 20px;
}
#pics_block a {
    cursor: pointer;
}
#getMatTalXCellphone {
    display: none;
}
#textEditor::marker {
    content: "\\pi ";
    font-family: monospace;
    color: blue;
    font-size: 0.9em;
}
#keyBoardShort::marker {
    content: "\2328  ";
}
#makeOps::marker {
    content: "\26CF  ";
}
#muchMore::marker {
    content: "...  ";
}

@media (prefers-color-scheme: light) {
    body {
        background-color: white;
    }
    .dark {
        display: none;
    }
}
@media (prefers-color-scheme: dark) {
    body {
        background-color: whitesmoke;
    }
    .light {
        display: none;
    }
}

@media only screen and (max-device-width: 550px) {
    #mattalx_logo {
        width: 90%;
        height: auto;
    }
    h1, h2, h3, p, ul, li {
        margin: 1% 4%;
    }
    .slideshow .img-slide {
        width: 80%;
        height: auto;
    }
    #previous,
    #next {
        padding: 10px;
        font-size: 14px;
    }
    #previous {
        left: 2%;
    }
    #next {
        right: 2%;
    }
    #pics_block {
        display: block;
        text-align: center;
    }
    #pics_block .cols {
        padding: 10px;
    }
    #pics_block #before_twitter,
    #pics_block #after_twitter {
        width: 90%;
        height: auto;
    }
    #getMatTalX {
        display: none;
    }
    #getMatTalXCellphone {
        display: block;
        text-align: center;
    }
    #getMatTalXCellphone #availableText {
        padding: 15px;
        font-size: 20px;
    }
    #getMatTalXCellphone #chromelogo,
    #getMatTalXCellphone #firefoxlogo {
        width: 20%;
        padding: 20px;
    }
    #noCellphone {
        display: none;
    }
}